<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Server status</title>
	<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<script src="static/script.js"></script>
	<meta name="theme-color" content="#605972">
</head>
<body class="full-wrapper">
	<div class="navigation">
		<div class="nav-brand"><a href="#">Hitamashi</a></div>
	</div>
	<div class="container">
		<div class="dash-wrapper">
			<div class="dash-info"><span class="info_pull" id="date-now"></span>– date –</div>
			<div class="dash-info"><span class="info_pull" id="month-now"></span>– month –</div>
			<div class="dash-info"><span class="info_pull" id="year-now"></span>– year –</div>
		</div>
{% for ins in instances %}
		<ul class="flex-wrapper">
			<li class="flex-item title-item {{'up' if ins.status == 'RUNNING' else 'down'}}" >
				<div>
					<div>{{ ins.name }}</div>
					<div class='small'>{{ ins.zone }}</div>
				</div>
			</li>
			<li class="flex-item" > {{ ins.status }} </li>
			<li class="flex-item" > {{ ins.IP }} </li>

	{% if ins.status == "RUNNING" %}
		{% if ins.function == "teamspeak" %}
			<li class="flex-item button-item">
				<a href="ts3server://{{ins.IP}}?port=9987">
					Connect
				</a>
			</li>
		{% else %}
			<li class="flex-item button-item loading">
				Started
			</li>
		{% endif %}
	{% else %}
			<li class="flex-item button-item start-server" data-zone="{{ins.zone}}" data-vm="{{ins.name}}"> Start </li>
	{% endif %}
		</ul>
{% endfor %}
	</div>
	<div class="footer-wrapper">
		<ul class="footer">
			<li class="footer-info">Hitamashi</li>
			<li class="footer-update" id="time-now"></li>
		</ul>
	</div>
</body>
</html>